<div class="registro">
  <h1 class="mb-5 text-center">Crea tu Evento</h1>

  <form action="/events/new-event" method="POST">
    <div class="form-group">
      <label for="title">Título</label>
      <input name="title" type="text" class="form-control" id="field1" placeholder="Título del Evento">
    </div>
    <div class="form-group">
      <label for="theme">Tema del evento</label>
      <input name="theme" type="text" class="form-control" id="theme" placeholder="Coloque el tema aquí">
    </div>

    <div class="form-group">
      <label>Dónde</label>
      <select name="locationName" type="text" class="form-control" id="locationName">
        <option>Seleccionar</option>
        {{#each location}}
        <option>{{title}}</option>
        {{/each}}
      </select>
      <small class="form-text text-muted">Selecciona uno de nuestros puntos de encuentro</small>
    </div>
    <div class="form-group">
      <label for="eventDate">Dia del evento</label>
      <input name="eventDate" type="text" class="form-control" id="eventDate" placeholder="YYYY-MM-DD">
    </div>

    <button type="submit" class="btn btn-dark btn-block bg-danger text-warning">Crear evento</button>

    {{#if errorMsg}}
    <div id="errorMsg">{{{errorMsg}}}</div>
    {{/if}}
  </form>
</div>
<a href="/profile" class="btn btn-sm btn-danger text-warning mt-5 pl-5 pr-5 mb-5">Volver</a>
<a href="/events/locations" class="btn btn-sm btn-danger text-warning mt-5 pl-5 pr-5">Prueba</a>
<script src="/javascripts/directions.js"></script>