<div class="registro">
<h1>Lista de Eventos</h1>

<form action="/events/new-event" method="POST">
    <div class="form-group">
        <label for="title">Título</label>
        <input name="title" type="text" class="form-control" id="field1" placeholder="Título del Evento">
    </div>
    <div class="form-group">
        <label for="theme">Tema del evento</label>
        <input name="theme" type="text" class="form-control" id="theme" placeholder="Coloque el tema aquí">
    </div>
   
    <div class="form-group">
        <label>Dirección</label>
        <input type="text" name="latitude" placeholder="latitude">
        <input type="text" name="longitude" placeholder="longitude">
        <small class="form-text text-muted">Introduce la dirección en coordenadas</small>
    </div>
    <button type="submit" class="btn btn-dark btn-block btn-lg bg-danger">Registrar evento</button>

    {{#if errorMsg}}
    <div id="errorMsg">{{{errorMsg}}}</div>
    {{/if}}
</form>
</div>
<a href="/events/event-list" class="btn btn-sm btn-danger text-warning m-5">Volver</a>