<div class="container">
    <h1>Lista de usuarios</h1>
    <hr>
    <h2>Hola Sr.{{username}}</h2>
    <hr>
    <ul>
        {{#each allUsers}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <a href="#" class="btn btn-sm btn-danger text-warning m-5">Eliminar</a>
    <a href="#" class="btn btn-sm btn-danger text-warning m-5">Editar</a>
    <a href="#" class="btn btn-sm btn-danger text-warning m-5">Volver</a>
</div>