<div class="container ">

    {{#each allComics}}
    <img src="{{coverImg}}" alt="Portada Cómic">
    <h1 style="font-weight: 100">{{title}}</h1>
    <a href="/movies/{{_id}}" class="btn btn-sm btn-dark">Ver cómic</a>


    {{/each}}

</div>