<div class="container ">

    <h1 style="font-weight: 100">{{theComic.title}}</h1>

    <img src="{{theComic.coverImg}}" alt="cover image">
    <p>Description:{{theMovtheComicie.description}}</p>
    <p>Realeased Year:{{theComic.year}}</p>

   

    <a href="/perfil" class="btn btn-dark">Volver</a>

</div>