<div class="text-warning ">
<h1>IRON FANS</h1>
<p>Bienvenido a IRON FANS</p>



<div class="jumbotron text-white">
  <h2 class="display-4">Fans Page</h2>
  
  <hr class="separador">
  <h3>"Herido, capturado y forzado a construir un arma por sus enemigos, el industrial multimillonario Tony Stark creó una
armadura avanzada para salvar su vida y escapar del cautiverio. Ahora, con una nueva perspectiva de la vida, Tony usa su
dinero e inteligencia para hacer del mundo un lugar mejor y más seguro como Iron Man."</h3>
  
</div>
</div>
