
<div class="text-warning">
<h1>Página Privada</h1>
<h2>Bienvenido a tu perfil, {{currentUser.username}}!!</h2>
{{#if checkAdmin}}
 <a href="/profile/list" class="btn btn-outline-danger text-warning m-5 text-center">Lista de usuarios</a>
{{/if}}
</div>
<hr>

<div class="row text-center principal">

    <div class="col-4 mb-2">
      <img src="/images/iron-man-3-tony-stark-wallpaper-640x400.jpg" alt="Imagen">
    <a href="/movies" class="btn btn-outline-danger text-warning mt-3">Ver todas las peliculas</a>
    </div>

     <div class="col-4 mb-2">
       <img src="/images/iron-man-comic-640x400.jpg" alt="Imagen">
    <a href="/comics" class="btn btn-outline-danger text-warning mt-3">Ver los mejores 20 comics</a>
    </div>

    <div class="col-4 mb-2">
     <img src="/images/Frases-640x400.jpg" alt="Imagen">
    <a href="/phrases" class="btn btn-outline-danger text-warning mt-3">Ver las mejores Frases de Tony</a>
  </div>

  <hr>
  <div class="col-6 mt-5">
    <a href="/events/new-event" class="btn btn-outline-danger text-warning mb-5 mt-5">Crear evento</a>
    </div>
     
    <div class="col-6 mt-5">
    <a href="/events/events-list" class="btn btn-outline-danger text-warning m-5">Todos los eventos</a>
</div>
</div>



