
<div class="registro">
<h1>Página Privada</h1>
<h2>Bienvenido a tu perfil, {{currentUser.username}}!!</h>
</div>

<div class="">
    <a href="/movies" class="btn btn-outline-danger text-warning ml-5">Ver todas las peliculas</a>
    <a href="/comics" class="btn btn-outline-danger text-warning ml-5">Ver los mejores 20 comics</a>
    <a href="/phrases" class="btn btn-outline-danger text-warning ml-5">Ver las mejores Frases de Tony</a>
  <br>
  <a href="/events/new-event" class="btn btn-outline-danger text-warning ml-5 mt-5">Crear evento</a>
    <a href="#" class="btn btn-outline-danger text-warning ml-5 mt-5">Mis eventos</a>
    <a href="/events/events-list" class="btn btn-outline-danger text-warning ml-5 mt-5">Todos los eventos</a>
</div>

{{#if checkAdmin}}
 <a href="/profile/list" class="btn btn-outline-danger text-warning ml-5 mt-5">Lista de usuarios</a>
{{/if}}

