<div class="container registro">
<h1 class="registro">Página Privada</h1>
<h2>Bienvenido a tu perfil, {{user.username}}!!</h>
</div>

<div class="">
    <a href="/movies" class="btn btn-outline-danger text-warning ml-3">Ver todas las peliculas</a>
    <a href="/comics" class="btn btn-outline-danger text-warning ml-3">Ver los mejores 20 comics</a>
    <a href="/phrases" class="btn btn-outline-danger text-warning ml-3">Ver las mejores Frases de Tony</a>
    <a href="/crear-evento/{{_id}}" class="btn btn-outline-danger text-warning ml-3">Crear evento</a>
    <a href="#" class="btn btn-outline-danger text-warning ml-3">Mis eventos</a>
    <a href="/events" class="btn btn-outline-danger text-warning ml-3">Todos los eventos</a>
</div>

{{#if checkAdmin}}
 <a href="/profile" class="btn btn-outline-danger text-warning ml-3">Lista de usuarios</a>
{{/if}}
