
    <div class="row">
        {{#each allPhrases}}
        <div class="col-3 text-center m-3">
            <div class="card phrases bg-danger">
                <div class="card-body">
                    <h5 class="card-text text-warning">"{{title}}"</h5>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <a href="#" class="btn btn-sm btn-danger text-warning m-5">Volver</a>
