<main class="main-movies-list">

<div class="container "></div>
    <div class="row">
      {{#each allMovies}}
        <div class="col-3 m-3 text-center">
            <div class="card">
               <img src="{{coverImg}}" alt="cover image">
                <div class="card-body">
                    <h3 class="card-text">{{title}}</h3>
                     <a href="/movies/{{_id}}" class="btn btn-sm btn-danger text-warning ">Ver detalle</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <a href="#" class="btn btn-sm btn-danger text-warning m-5">Volver</a>
</main>