<h1 class="registro text-center">Lista de Películas</h1>
<hr>
    <div class="row">
      {{#each allMovies}}
        <div class="col-4 text-center mt-5">
            <div class="card">
               <img src="{{coverImg}}" alt="cover image">
                <div class="card-body">
                    <h3 class="card-text">{{title}}</h3>
                     <a href="/movies/{{_id}}" class="btn btn-sm btn-danger text-warning ">Ver detalle</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <a href="/profile" class="btn btn-sm btn-danger text-warning m-5 pl-5 pr-5">Volver</a>
