

</div>
<div class="container ">
    <div class="row">
      {{#each allMovies}}
        <div class="col-3 m-3 text-center">
            <div class="card" style="width: 18rem;">
               <img src="{{coverImg}}" alt="cover image">
                <div class="card-body">
                    <h3 class="card-text">{{title}}</h3>
                     <a href="/movies/{{_id}}" class="btn btn-sm btn-danger text-warning ">Ver detalle</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>