<div class="container registro">
    <h1>Deja tu comentario sobre el cómic, {{title}}</h1>
    <form action="/comics/{{id}}/newComment" method="post">
        <textarea class="ml-4 mt-4" name="comment" id="comment" cols="50" rows="10"
            placeholder="Escriba aquí"></textarea>
        <button class="btn btn-sm btn-danger text-warning m-5">Guardar comentario</button>
        <a href="/comics" class="btn btn-sm btn-danger text-warning m-5">Volver al listado</a>
    </form>
</div>